@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap');
::-webkit-scrollbar-thumb{
    border-radius: 12px;
    background: #17D7A0;
}
::-webkit-scrollbar{
    width: 6px;
    background-color: #544179;
}
::-webkit-scrollbar-thumb:hover{
    background: #32C1CD;
}
body{
    font-family: 'Noto Sans', sans-serif;
    color: #cbc6ef;
    background-color: #544179;
    font-size: 14px;
}
.container{
    max-width: 1230px;
    padding: 0 30px;
    margin: 0 auto;
}
.header{
    padding-top: 40px;
    padding-bottom: 10px;
    background-color: #544179;
}
.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 40px;
}
.logo{
    position: relative;
    font-weight: 700;
    padding: 0 12px 3px 0;
    font-size: 32px;
    line-height: 100%;
    color: #cbc6ef;
    line-height: 1;
    margin-left: 33px;
}
.logo::before{
    content: '';
    display: block;
    background-image: url(../img/new_icons/pacman_green.svg);
    width: 28px;
    height: 33px;
    position: absolute;
    left: -33px;
    bottom: 2px;
}
.logo::after{
    background-image: url(../img/new_icons/tochki_green.svg);
    content: '';
    display: block;
    width: 34px;
    height: 8px;
    position: absolute;
    right: -26px;
    bottom: 11px;
}
.nav-list{
    display: flex;
    column-gap: 50px;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 6px;
}
.nav-button{
    display: none;
}
.nav-link{
    color: #cbc6ef;
}
.nav-link.active{
    color: #17D7A0;
}
.container-timer{
    position: relative;
    width: 100%;
    height: 60vh;
    background: #4d3c6f;
    display: flex;
}
.container-timer .imgBox{
    position: relative;
    width: 450px;
    height: 100%;
    background: url(../img/new_icons/anime.png);
    background-size: cover;
}
.container-timer .coundownBx{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.container-timer .coundownBx h2{
    text-align: center;
    font-size: 1.5em;
    color: #cbc6ef;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 500;
    line-height: 4em;
}
.container-timer .coundownBx h2 span{
    font-size: 6em;
    font-weight: 700;
    color: #17D7A0;
}
.container-timer .coundownBx .countdown{
    margin-top: 30px;
    background: rgba(0,0,0,0.1);
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-timer .coundownBx .countdown div{
    position: relative;
    width: 100%;
    text-align: center;
    color: #cbc6ef;
    font-size: 2.5em;
    font-weight: 500;
    margin: 0 15px;
    margin-top: -25px;
}
.container-timer .coundownBx .countdown div::before{
    content: 'text';
    position: absolute;
    bottom: -35px;
    left: 0;
    width: 100%;
    height: 35px;
    color: #cbc6ef;
    font-size: 0.35em;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.container-timer .coundownBx .countdown div#day::before{
    content: "Days";
}
.container-timer .coundownBx .countdown div#hour::before{
    content: "hour";
}
.container-timer .coundownBx .countdown div#minute::before{
    content: "minute";
}
.container-timer .coundownBx .countdown div#second::before{
    content: "second";
}
.title-1.one{
    margin-bottom: 100px;
}
.container-TVser{
    max-width: 1230px;
    padding: 100px 30px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.card-TVser{
    position: relative;
    width: 600px;
    height: 350px;
    margin: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    background: linear-gradient(315deg,#17D7A0,#6166B3);
    margin-bottom: 100px;
}
.card-TVser:nth-child(2){
    background: linear-gradient(315deg,#17D7A0,#6166B3);
}
.card-TVser:nth-child(3){
    background: linear-gradient(315deg,#32C1CD,#b361a8);
}
.card-TVser:nth-child(4){
    background: linear-gradient(315deg,#f7e816,#7b6bd4);
}
.card-TVser:nth-last-child(){
    margin-bottom: 0;
}
.card-TVser img{
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    height: 400px;
    transition: 0.5s;
}
.card-TVser:hover img{
    left: 80%;
    height: 500px;
}
.card-TVser:hover .GFimg{
    left: 85%;
}
.card-TVser .content{
    position: relative;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
.card-TVser:hover .content{
    opacity: 1;
    visibility: visible;
    left: 0%;
}
.card-TVser .content h2{
    color: #cbc6ef;
    text-transform: uppercase;
    font-size: 2.5em;
    line-height: 1em;
    font-weight: 500;
}
.card-TVser .content p{
    color: aliceblue;
}
.card-TVser .content a{
    position: relative;
    display: inline-block;
    color: aliceblue;
    border-radius: 30px;
    padding: 10px 20px;
    background: linear-gradient(315deg,#6166B3,#17D7A0) ;
    margin-top: 10px;
    text-decoration: none;
}
.card-TVser .content .btn_watch{
    background: linear-gradient(315deg,#6166B3,#32C1CD) ;
}
@media( max-width: 991px){
    .card-TVser{
        position: relative;
        width: auto;
        max-width: 600px;
        align-items: flex-start;
        transition: 0.5s;
    }
    .card-TVser:hover{
        height: 600px;
    }
    .card-TVser:hover img,
    .card-TVser:hover .GFimg {
        left: 50%;
        height: 350px;
    }
    .card-TVser .content{
        width: 100%;
        left: 0;
        padding: 40px;
    }
}
@media( max-width: 420px){
    .card-TVser .content{
        padding: 30px;
    }
    .card-TVser:hover img,
    .card-TVser:hover .GFimg {
        height: 300px;
    }
}

.container-TVser::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #17D7A0;
    clip-path: circle(50% at 100% -20%);
    z-index: -30;
    filter: blur(5px);
}
.container-TVser::after{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-color: #32C1CD;
    clip-path: circle(45% at 0% 100%);
    z-index: -30;
    filter: blur(10px);
    overflow: hidden;
}
.title-1 {
    font-size: 34px;
    font-weight: 600;
}
.contacts {
    background-color: #4d3c6f;
    padding: 90px 0;
    text-align: center;
}
.contacts-title {
    margin-bottom: 40px;
}
.contacts-content {
    margin: 0 auto 40px;
    max-width: 480px;
    font-size: 18px;
}
.contacts-content p + p {
    margin-top: 1em;
}
.contacts-button {
    margin-bottom: 80px;
}
.contacts-social {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 60px;
    margin-bottom: 40px;
    color: #cbc6ef;
}
.fa-brands{
    font-size: 40px;
    color: #cbc6ef;
    transition: 0.5s;
}
.fa-brands:hover{
    color: #17D7A0;
}
.contacts-footer {
    color: #cbc6ef;
}
.btn {
    display: inline-block;
    padding: 7px 22px;
    background-color: #17D7A0;
    border-radius: 30px;
    font-size: 18px;
    color: #000;
    transition: background-color 0.2s ease-in, top 0.2s ease-in;
}

.btn:hover, .btn:focus {
    background-color: #32C1CD;
}
.btn:active {
    position: relative;
    top: 1px;
    background-color: #000000;
}